<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
<%- include('./partials/header') %> 
    
<div id="columna" class="container products-wrapper">
    <div class="row form">
        <div class="col-12">
            <h2 class="products-title">Inicia sesi칩n en Wooplance</h2>
        </div>

        <!-- Formulario de login -->
        <form action="/" method="GET" class="login">
            <p>
                <input type="text" placeholder="Nombre de usuario o correo electr칩nico" name="mail" id="mail" required>
            </p>
            <p>
                <input type="password" placeholder="Contrase침a" name="password" id="password" required>
            </p>
            
            <button id="boton" type="submit" name="login-button" id="login-button">Iniciar sesi칩n</button>
            <div id="recordame">
                <label> Recordame </label>
                
                <input type="checkbox" name="remember" id="checkbox">
            </div>
        </form>
       <h6 id="register-url">No tenes cuenta? <a href="/register">Registrate!</a></h6>

    </div>

    <div class="img">
        <img id="ilustration" src="images/fixedImages/login-img.svg" alt="Foto de ilustracion">
    </div>

</div>
</body>
</html>