<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
<%- include('./partials/header') %> 
<div id="columna" class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Registrate en Wooplance</h2>
        </div>
        <!-- Show the "ultimos" products -->

        <!-- Formulario de Registro -->
        <div>
            <form class="input-sign" action="/register" method="POST" enctype="multipart/form-data">
                <p class="half">
                    <input type="text" placeholder="Nombre/s" name="name" id="nombre" required>
                    <input type="text" placeholder="Apellido/s" name="lastname" id="nombre" required>
                </p>

                <p>
                    <input type="text" placeholder="Nombre de usuario" name="username" id="nombre" required>
                </p>

                <p>
                    <input type="email" placeholder="Correo electrónico" name="mail" id="mail" required>
                </p>
    
                <p>
                    <input type="date" min='1899-01-01' max='2005-01-01' placeholder="Fecha de nacimiento" name="birthday" id="birthday" required>
                </p>

                <p>
                    <input id="file" type="file" name="profilePic" id="fotoProducto" accept="image/png, image/jpeg, image/jpg">
                </p>

                <p>
                    <input type="password" placeholder="Contraseña" name="password" id="password" minlength="8" required>
                </p>

                <p>
                    <input type="password" placeholder="Confirma contraseña" name="passwordConfirm" id="password"
                        minlength="8" required>
                </p>

                <h4 id="recordame">
                    Recordame <input type="checkbox" name="remember" id="checkbox">
                </h4>

                <button id="boton" type="submit" name="register-button" id="register-button">Registrarme</button>
            </form>
        </div>

    </div>

    <div>
        <img id="ilustracion-login" src="images/ilustracion-login1.png" alt="Foto de ilustracion">
    </div>

</body>
</html>