<header class="cabezera">
    <nav class="nav">
        <a id="logo" href="#"><img src="/recursos/imagenes/logo.svg" alt="logo wooplance"> </a>
        
        <div class="grupo_buscar">
            <div class="grupo_categorias">
                <button id="btn_categorias" class="item_cat">Categorias</button>
            </div>
            <input id="input_buscar" type="text" placeholder="EJ: 'Web Developer' ">
            <button id="btn_buscar">Buscar</button>
        </div>

        <div class="grupo_entrar">
            <button id="btn_iniciarsesion" >Iniciar Sesión</button>
            <button id="btn_registrarse" onclick="openRegisterForm()" >Registrarse</button>
        </div>

    </nav>
</header>