<header class="cabezera">
    <nav class="nav">
        <a id="logo" href="/"><img src="/recursos/imagenes/logo.svg" alt="logo wooplance"> </a>
        
        <div class="grupo_buscar">
            <div class="grupo_categorias">
                <button id="btn_categorias" class="item_cat">Categorias</button>
            </div>
            <input id="input_buscar" type="text" placeholder="EJ: 'Web Developer' ">
            <button id="btn_buscar">Buscar</button>
        </div>

        <div class="grupo_entrar">
            <a id="btn_iniciarsesion" href="/login">Iniciar Sesión</a>
            <a id="btn_registrarse" href="/register">Registrarse</a>
        </div>

    </nav>
</header>